[submodule "external/Alimer.Bindings"]
	path = external/Alimer.Bindings
	url = https://github.com/ODtian/Alimer.Bindings
[submodule "external/SlangShaderSharp"]
	path = external/SlangShaderSharp
	url = https://github.com/ODtian/SlangShaderSharp.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
