<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="SomeEngine Local Packages" value="artifacts/local-packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="SomeEngine Local Packages">
      <package pattern="Alimer.Bindings.MeshOptimizer" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="coverlet.collector" />
      <package pattern="ImGui.NET" />
      <package pattern="Microsoft.*" />
      <package pattern="SharpGLTF.*" />
      <package pattern="Shouldly" />
      <package pattern="Silk.NET.*" />
      <package pattern="SharpGen.*" />
      <package pattern="System.*" />
      <package pattern="Vortice.*" />
      <package pattern="xunit" />
      <package pattern="xunit.*" />
      <package pattern="NETStandard.Library" />
      <package pattern="DiffPlex" />
      <package pattern="Humanizer.*" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="NuGet.*" />
      <package pattern="runtime.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
